<strong>Olá, {{userName}}</strong>
<p>O seu meetup recebeu uma nova inscrição de {{userName}}.</p>

<p>
  <center>
    <img style="width: 315px; height: 252px; border-radius: 10px; border: 3px solid #0000; margin-bottom: 30px" src="{{meetupBanner}}" alt="">
  </center>
  <strong>Meetup: </strong> {{meetupTitle}}<br/>
  <strong>Descrição: </strong> {{meetupDescription}}<br/>
  <strong>Data/Hora: </strong> {{meetupDate}}<br/>
  <br/>
  <small>
    Parabéns! A organização do evento está gerando muito interesse.
  </small>
</p>
